th.rb4c-datatable-sortable span {
  width: 16px;
  display: inline-block;
  margin-right: 3px;
  margin-left: -0.5rem;
  opacity: 0.3;
}

th.rb4c-datatable-sortable {
  cursor: ns-resize;
}

th.rb4c-datatable-sorted span {
  opacity: 1 !important;
}
